@*https://github.com/stsrki/Blazorise/blob/master/Demos/Blazorise.Demo/Pages/Tests/LiveChartsPage.razor.cs*@

@page "/"
@using Stock_Market_Dashboard.Data
@inject StockMarketService service

<h1>Stock Market Dashboard</h1>

<Card>
    <CardHeader>Settings</CardHeader>
    <CardBody>
        <Switch TValue="bool" Checked="@amazon" CheckedChanged="@OnAmazonChanged">Amazon</Switch>
        <Switch TValue="bool" Checked="@apple" CheckedChanged="@OnAppleChanged">Apple</Switch>
        <Switch TValue="bool" Checked="@google" CheckedChanged="@OnGoogleChanged">Google</Switch>
        <Switch TValue="bool" Checked="@microsoft" CheckedChanged="@OnMicrosoftChanged">Microsoft</Switch>
        <Switch TValue="bool" Checked="@sony" CheckedChanged="@OnSonyChanged">Sony</Switch>

        <Button Clicked="@(async () => await HandleRedraw(lineChart))">Refresh</Button>
    </CardBody>
</Card>

<LineChart @ref="lineChart" TItem="DataPoint" OptionsObject="@lineChartOptions" />

@code{
    bool amazon = true;
    bool apple = false;
    bool google = false;
    bool microsoft = false;
    bool sony = false;

    async void OnAmazonChanged(bool value)
    {
        amazon = value;
        await HandleRedraw(lineChart);
    }
    async void OnAppleChanged(bool value)
    {
        amazon = value;
        await HandleRedraw(lineChart);
    }
    async void OnGoogleChanged(bool value)
    {
        amazon = value;
        await HandleRedraw(lineChart);
    }
    async void OnMicrosoftChanged(bool value)
    {
        amazon = value;
        await HandleRedraw(lineChart);
    }
    async void OnSonyChanged(bool value)
    {
        amazon = value;
        await HandleRedraw(lineChart);
    }

    public struct DataPoint
    {
        public object X { get; set; }

        public object Y { get; set; }
    }

    LineChart<DataPoint> lineChart;

    List<DataPoint> companyPriceDataPoints = new List<DataPoint>();

    List<string> companies = new List<string>();

    string[] timestamps = {};

    StockMarketResponse stockMarketDataAmazon;
    StockMarketResponse stockMarketDataApple;
    StockMarketResponse stockMarketDataGoogle;
    StockMarketResponse stockMarketDataMicrosoft;
    StockMarketResponse stockMarketDataSony;

    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
    List<string> borderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

    object lineChartOptions = new
    {
        Title = new
        {
            Display = true,
            Text = "Stock Market Line Chart"
        },
        Scales = new
        {
            XAxes = new object[]
            {
                new {
                    ScaleLabel = new
                    {
                        Display = true, LabelString = "Date"
                    }
                }
            },
            YAxes = new object[]
            {
                new {
                    ScaleLabel = new
                    {
                        Display = true, LabelString = "Price"
                    }
                }
            }
        },
        Tooltips = new
        {
            Mode = "nearest",
            Intersect = false
        },
        Hover = new
        {
            Mode = "nearest",
            Intersect = false
        }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            stockMarketDataAmazon = await service.GetStockMarketDataForCompanyAsync("AMZN");
            stockMarketDataApple = await service.GetStockMarketDataForCompanyAsync("AAPL");
            stockMarketDataGoogle = await service.GetStockMarketDataForCompanyAsync("GOOGL");
            stockMarketDataMicrosoft = await service.GetStockMarketDataForCompanyAsync("MSFT");
            stockMarketDataSony = await service.GetStockMarketDataForCompanyAsync("SNE");

            await Task.WhenAll(HandleRedraw(lineChart));
        }
    }

    async Task HandleRedraw<TDataSet, TItem, TOptions, TModel>(BaseChart<TDataSet, TItem, TOptions, TModel> chart)
        where TDataSet : ChartDataset<TItem>
        where TOptions : ChartOptions
        where TModel : ChartModel
    {
        await lineChart.Clear();

        await lineChart.AddLabel(timestamps);

        CheckDataSetVisibility();

        foreach (string company in companies)
        {
            await lineChart.AddDataSet(GetLineChartDataset(company));
        }

        await lineChart.Update();
    }

    private void CheckDataSetVisibility()
    {
        DataPoint companyPriceDataPoint = new DataPoint();

        if (amazon)
        {
            companyPriceDataPoint.X = stockMarketDataAmazon.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataAmazon.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companies.Add("Amazon");
        }
        else
        {
            companyPriceDataPoint.X = stockMarketDataAmazon.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataAmazon.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companies.Remove("Amazon");
        }
        if (apple)
        {
            companyPriceDataPoint.X = stockMarketDataApple.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataApple.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companies.Add("Apple");
        }
        else
        {
            companyPriceDataPoint.X = stockMarketDataApple.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataApple.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companies.Remove("Apple");
        }
        if (google)
        {
            companyPriceDataPoint.X = stockMarketDataGoogle.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataGoogle.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companies.Add("Google");
        }
        else
        {
            companyPriceDataPoint.X = stockMarketDataGoogle.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataGoogle.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companies.Remove("Google");
        }
        if (microsoft)
        {
            companyPriceDataPoint.X = stockMarketDataMicrosoft.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataMicrosoft.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companies.Add("Microsoft");
        }
        else
        {
            companyPriceDataPoint.X = stockMarketDataMicrosoft.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataMicrosoft.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companies.Remove("Microsoft");
        }
        if (sony)
        {
            companyPriceDataPoint.X = stockMarketDataSony.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataSony.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Add(companyPriceDataPoint);

            companies.Add("Sony");
        }
        else
        {
            companyPriceDataPoint.X = stockMarketDataSony.pc;
            companyPriceDataPoint.Y = DateTime.Now.AddDays(-1);
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companyPriceDataPoint.X = stockMarketDataSony.c;
            companyPriceDataPoint.Y = DateTime.Now;
            companyPriceDataPoints.Remove(companyPriceDataPoint);

            companies.Remove("Sony");
        }
    }

    LineChartDataset<DataPoint> GetLineChartDataset(string company)
    {
        return new LineChartDataset<DataPoint>
        {
            Label = company,
            Data = companyPriceDataPoints,
            BackgroundColor = backgroundColors,
            BorderColor = borderColors,
            Fill = true,
            PointRadius = 2,
            BorderDash = new List<int> { }
        };
    }
}